#about {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 2%;
  }
  
  .team-member {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .team-member .name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .team-member .title {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .team-member .bio {
    font-size: 14px;
    line-height: 1.5;
  }
  