.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px 0;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 30px;
    text-align: center;
  }
  
  .feature img {
    width: 350px;
    height: 300px;
    margin-bottom: 20px;
  }
  
  .feature h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 18px;
    line-height: 1.5;
  }
  